
.service-url
  position relative
  margin-left -6px
  width 100%

  input[type="url"]
    position relative
    width 100%

// We're still getting flashing. This'll clear it up.
.ng-cloak
  display none !important
