
@import "./vendor/bootstrap/bootstrap.css"
// This will fix the topbar
body
  padding-top: 60px;
  padding-bottom: 40px;

.sidebar-nav
  padding: 9px 0;

@import "./vendor/bootstrap/bootstrap-responsive.css"
@import "./vendor/google-code-prettify/prettify.css"
@import "./vendor/google-code-prettify/sunburst.css"
